html, body {
  height: 100%;
}

body 
{
	margin: 0;
	display: flex;

	/* This centers the sketch horizontally. */
	justify-content: center;

	/* This centers the sketch vertically. */
	align-items: center;

	/* The image used */
	background-image: url("bkg.jpg");

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}